.sidebar {
    position: absolute;
    width: 400px;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 10px 0 20px 0;
    background-color: white;
    transition: 0.3s;
    padding: 20px;
}

.hide {
    left: -100%;
    
}

.dark {
    background-color: rgb(36, 31, 31);
    color: white;
}